.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

/* Right transition */
.right-enter {
  transform: translateX(100%);
}

.right-enter-active {
  transform: translateX(0%);
}

.right-exit {
  transform: translateX(0%);
}

.right-exit-active {
  transform: translateX(-100%);
}

/* Left transition */
.left-enter {
  transform: translateX(-100%);
}

.left-enter-active {
  transform: translateX(0%);
}

.left-exit {
  transform: translateX(0%);
}

.left-exit-active {
  transform: translateX(100%);
}
